.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.flex-wrap{
    flex-wrap: wrap;
}

.home{
    &-container{
        &-heading {
            text-align: center;
        }
        &-list {
            gap: 2rem;
        }
    }
}

.user-detail {
    &-container{
        &-inner {
            padding: 20px;
            margin: 10px;
            gap: 3rem;
            box-shadow: 10px 10px 10px black;
        }
    }
}